{% extends "base.html" %}
{% load static %}
{% block content %}

<br><br><br>

<h3><center><img class="navimage" src="{% static 'images/shatkon.jpg' %}" alt="">श्री जनकल्याण माध्यमिक विघ्यालय<img class="navimage" src="{% static 'images/shatkon.jpg' %}" alt=""></center></h3>
<hr><hr>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>History</h3>
      <p>Shree Janakalyan higher secondary school is established in 2037(BS).
      It is a very old school in gulmi.
      The school got started from primary level school.Now upto +2 student can continue the education here</p>
    </div>
    <div class="col-md-4">
      <h3>Teaching Practice</h3>
      <p>To enhance reading and reference skills and imagination powers, the school library has a collection of fiction and non-fiction books and subscribes to various magazines and periodicals.</p>
    </div>
    <div class="col-md-4">
      <h3>Responsibility</h3>
    <p>We provide the student the bestof education and facilities and grooming them into leaders of tomorrow.Not only this, the school has taken the responsibility to educate parents about positive.</p>
    </div>
  </div>
</div>
<!-- event starts hrere -->
<div class="container">
  <hr><hr>
  <div class="row">
    <div class="col-md-3">
      <h3>classrooms</h3>
      <img src="{% static 'images/lab1.jpg' %}" alt="">
    </div>
    <div class="col-md-3 offset-1">
      <h3>Play Grounds</h3>
      <img src="{% static 'images/lab2.jpg' %}" alt="">
    </div>
    <div class="col-md-3 offset-1">
      <h3>Library</h3>
      <img src="{% static 'images/lab33.jpg' %}" alt="">
    </div>
  </div>
  <br><br><br>
    <div class="row">
    <div class="col-md-3">
      <h3>Childrens</h3>
      <img src="{% static 'images/lab44.jpg' %}" alt="">
    </div>
    <div class="col-md-3 offset-1">
      <h3>Awards</h3>
      <img src="{% static 'images/lab5.jpg' %}"" alt="">
    </div>
    <div class="col-md-3 offset-1">
      <h3>Our School</h3>
      <img src="{% static 'images/event55.jpg' %}" alt="">
    </div>
  </div>
</div>


{% endblock %}
