{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <center><img src="{% static 'images/kids.jpg' %}" class="" alt="..."></center>
    </div>
    <div class="carousel-item" data-interval="2000">
      <center><img src="{% static 'images/kids3.jpg' %}" class="" alt="..."></center>
    </div>
    <div class="carousel-item" data-interval="2000">
      <center><img src="{% static 'images/kids5.jpg' %}" class="" alt="..."></center>
    </div>
    <div class="carousel-item" data-interval="2000">
      <center><img src="{% static 'images/kids6.jpg' %}" class="" alt="..."></center>
    </div>
    <div class="carousel-item" data-interval="2000">
      <center><img src="{% static 'images/kids.jpg' %}" class="" alt="..."></center>
    </div>
    <div class="carousel-item">
      <center><img src="{% static 'images/kids4.jpg' %}" class="" alt="..."></center>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<!-- image slider end  -->

<h2><center>Our school is the best choice for your kid</center> </h2>
<hr><hr>
<div class="container">
<div class="row">
  <div class="col-md-4 lg-4 col-sm-6">
    <h3>Teaching</h3>
    A teaching method comprises the principles and methods used by teachers to enable student learning. These strategies are determined partly on subject matter to be taught and partly by the nature of the learner.
  </div>
  <div class="col-md-4 lg-4 col-sm-6">
    <h3>Creativity</h3>
    Creative education is when students are able to use imagination and critical thinking to create new and meaningful forms of ideas where they can take risks, be independent and flexible.
  </div>
  <div class="col-md-4 lg-4 col-sm-6">
    <h3>Recreation</h3>
  Recreation is an activity of leisure, leisure being discretionary time. The "need to do something for recreation" is an essential element of human biology and psychology. Recreational activities are often done for enjoyment, amusement, or pleasure and are considered to be "fun".
  </div>
</div>
</div>
<!-- event starts hrere -->
<div class="container">
<hr><hr>
<h3 class="text-center"><strong>Events</strong></h3>
<div class="row">
  <div class="col-md-5 offset-1 col-sm-12">
    <img class="img-responsive" src="{% static 'images/event11.jpg' %}" alt="">
  </div>
  <div class="col-md-5 offset-1 col-sm-12">
    <img class="img-responsive" src="{% static 'images/event22.jpg' %}" alt="">
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-5 offset-1 col-sm-12">
    <img class="img-responsive" src="{% static 'images/event33.jpg' %}" alt="">
  </div>
  <div class="col-md-5 offset-1 col-sm-12">
    <img class="img-responsive" src="{% static 'images/event44.jpg' %}" alt="">
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-5 offset-1 col-sm-12">
    <img class="img-responsive" src="{% static 'images/event55.jpg' %}" alt="">
  </div>
  <div class="col-md-5 offset-1 col-sm-12">
    <img class="img-responsive" src="{% static 'images/event66.jpg' %}" alt="">
  </div>
</div>
</div>

{% endblock %}
